:root {
  --primary: #1e3a5f;
  --accent: #00bcd4;
  --light: #f4f4f4;
  --dark: #111;
  --font: 'Segoe UI', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font);
  background: var(--light);
  color: var(--dark);
  line-height: 1.6;
}

header {
  background: radial-gradient(circle at top left,rgb(59, 115, 164), var(--dark));
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.logo-img {
  height: 100px;
  width: auto;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

#hero {
  background-image: url(assets/cctv-wall.jpg);
  background-size: cover;
  color: white;
  text-align: center;
  padding: 4rem 2rem;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  background: white;
  color: var(--accent);
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

#servicios{
    background-color: darkslategray;
}

#contacto{
    background: radial-gradient(circle at top left, darkslategray, lightgray);
}

section {
  padding: 3rem 2rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}

.card {
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1.5rem;
  width: 280px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

footer {
  background: var(--primary);
  color: white;
  text-align: center;
  padding: 1rem;
}

@media (max-width: 768px) {
  .cards {
    flex-direction: column;
    align-items: center;
  }

  nav ul {
    flex-direction: column;
    gap: 0.5rem;
  }
}

